shellingham==1.5.4
tqdm==4.66.4
trl==0.15.2
opencv-python-headless==4.11.0.86
arrow==1.3.0
semantic-version==2.10.0
async-lru==2.0.4
opencv-python==4.10.0.84
uri-template==1.3.0
rfc3339-validator==0.1.4
executing==2.1.0
pexpect==4.9.0
litellm==1.63.12
absl-py==2.1.0
Pygments==2.19.1
pandas==2.2.3
tornado==6.4.1
tornado==6.4.2
langgraph-checkpoint==2.0.16
lazy_loader==0.4
matplotlib==3.9.2
transformers==4.51.3
fqdn==1.5.1
decorator==5.1.1
importlib_metadata==8.5.0
filelock==3.16.1
filelock==3.17.0
langgraph==0.2.74
conda-package-handling==2.3.0
mistune==3.1.1
babel==2.17.0
traitlets==5.14.3
Swarm==0.0.2
zstandard==0.23.0
wilds==2.0.0
fonttools==4.54.1
pydub==0.25.1
nest_asyncio==1.6.0
pyasn1_modules==0.4.1
Markdown==3.7
charset-normalizer==2.0.4
smmap==5.0.1
asyncio==3.4.3
mistralai==1.5.2
multidict==6.1.0
ptyprocess==0.7.0
prometheus_client==0.21.1
isoduration==20.11.0
pillow==11.1.0
pillow==11.0.0
nltk==3.9.1
peft==0.15.1
GitPython==3.1.43
toml==0.10.2
jaxlib==0.5.3
Mako==1.3.9
faiss-cpu==1.10.0
overrides==7.7.0
psycopg2-binary==2.9.10
parso==0.8.4
webencodings==0.5.1
google-generativeai==0.8.3
uvicorn==0.34.0
langsmith==0.3.8
tokenizers==0.21.0
langchain-community==0.3.17
tinycss2==1.4.0
ipython==8.31.0
mlx-vlm==0.1.25
zipp==3.21.0
typer==0.15.1
pydeck==0.9.1
conda==25.1.1
tf_keras==2.19.0
astunparse==1.6.3
starlette==0.45.3
pip==25.1.1
littleutils==0.2.4
msgpack==1.1.0
cmdstanpy==1.2.5
PyAudio==0.2.14
opt_einsum==3.4.0
python-json-logger==3.2.1
defusedxml==0.7.1
pickle-mixin==1.0.2
referencing==0.35.1
googleapis-common-protos==1.66.0
google-pasta==0.2.0
pytesseract==0.3.13
frozenlist==1.5.0
pyre-extensions==0.0.32
together==1.4.1
pickleshare==0.7.5
h5py==3.12.1
Jinja2==3.1.4
Jinja2==3.1.5
httpx-sse==0.4.0
opentelemetry-api==1.30.0
tomlkit==0.13.2
libmambapy==1.5.8
groovy==0.1.2
gitdb==4.0.11
fsspec==2024.9.0
fsspec==2024.12.0
soupsieve==2.6
torchdata==0.10.1
tensorstore==0.1.72
google-api-core==2.24.0
wrapt==1.17.0
wrapt==1.17.2
qdrant-client==1.13.2
markdown-it-py==3.0.0
bitsandbytes==0.42.0
safetensors==0.4.5
six==1.16.0
six==1.17.0
seaborn==0.13.2
frozendict==2.4.2
mypy-extensions==1.0.0
h11==0.14.0
networkx==3.4.2
colorlog==6.9.0
groq==0.18.0
websockets==15.0
jupyter-console==6.6.3
jedi==0.19.2
optax==0.2.4
joblib==1.4.2
typing-inspect==0.9.0
orbax-checkpoint==0.11.10
SQLAlchemy==1.4.54
jax==0.5.3
tesseract==0.1.3
Werkzeug==3.0.4
optree==0.14.0
langgraph-sdk==0.1.53
itsdangerous==2.2.0
jupyter==1.1.1
PySocks==1.7.1
langchain==0.3.18
gast==0.6.0
protobuf==3.20.3
detectors==0.1.11
humanize==4.12.1
treescope==0.1.9
jupyter_client==8.6.3
rich==13.9.4
asttokens==3.0.0
grpcio-tools==1.70.0
uritemplate==4.1.1
google-auth-httplib2==0.2.0
jupyterlab_widgets==3.0.13
pandocfilters==1.5.1
reportlab==4.3.1
narwhals==1.19.1
fastjsonschema==2.21.1
exceptiongroup==1.2.2
jsonpatch==1.33
appnope==0.1.4
anaconda-anon-usage==0.4.4
docstring_parser==0.16
jupyter_server==2.15.0
typing_extensions==4.13.2
menuinst==2.1.1
urllib3==2.2.2
albumentations==2.0.5
packaging==23.2
pyzmq==25.1.1
h2==4.2.0
tenacity==9.0.0
blinker==1.8.2
conda-libmamba-solver==24.1.0
aiohttp==3.11.11
jsonschema==4.23.0
openai==1.68.2
ruff==0.11.9
platformdirs==3.10.0
nbformat==5.10.4
uv==0.6.9
propcache==0.2.1
pyasn1==0.6.1
stack_data==0.6.3
argon2-cffi==23.1.0
tensorboard==2.19.0
langchain-google-genai==2.0.10
cachetools==5.5.0
portalocker==2.10.1
timm==1.0.15
lightgbm==4.5.0
simsimd==6.2.1
threadpoolctl==3.5.0
haversine==2.9.0
pypdf==5.1.0
dataclasses-json==0.6.7
accelerate==1.3.0
multiprocess==0.70.16
gmpy2==2.1.5
requests==2.32.2
pycparser==2.21
psutil==6.1.1
kiwisolver==1.4.7
aiofiles==24.1.0
jupyter_core==5.7.2
alembic==1.14.1
python-dotenv==1.0.1
xxhash==3.5.0
nbconvert==7.16.6
truststore==0.8.0
pyparsing==3.2.0
conda-content-trust==0.2.0
contourpy==1.3.0
regex==2024.11.6
regex==2024.9.11
loguru==0.7.3
gradio_client==1.10.0
Send2Trash==1.8.3
langchain-text-splitters==0.3.6
huggingface-hub==0.31.2
jupyter-lsp==2.2.5
anyio==4.8.0
cffi==1.16.0
sentence-transformers==3.4.1
tifffile==2025.3.30
nbclient==0.10.2
pluggy==1.0.0
numpy==2.1.3
sniffio==1.3.1
simplejson==3.20.1
setuptools==69.5.1
grpcio==1.70.0
torchinfo==1.8.0
grpcio-status==1.68.1
jsonschema-specifications==2024.10.1
mdurl==0.1.2
python-dateutil==2.9.0.post0
mpmath==1.3.0
jupyterlab_pygments==0.3.0
swarms==7.6.0
flatbuffers==25.1.24
jupyterlab==4.3.5
torch==2.5.1
datauri==1.0.0
pytz==2024.2
yarl==1.18.3
rsa==4.9
wcwidth==0.2.13
stringzilla==3.12.3
widgetsnbextension==4.0.13
notebook==7.3.2
termcolor==2.5.0
torchvision==0.20.1
chardet==5.2.0
Brotli==1.0.9
jupyter-events==0.12.0
google-ai-generativelanguage==0.6.10
json5==0.10.0
certifi==2025.1.31
hf_transfer==0.1.9
langchain-huggingface==0.1.2
pyarrow==18.1.0
setproctitle==1.3.5
gradio==5.29.0
pycosat==0.6.6
plotly==6.2.0
toolz==1.0.0
cut-cross-entropy==25.1.1
libclang==18.1.1
xformers==0.0.29.post1
import-ipynb==0.2
jupyterlab_server==2.27.3
pydantic_core==2.27.2
outdated==0.2.2
webcolors==24.11.1
ogb==1.3.6
httpcore==1.0.7
prompt_toolkit==3.0.48
tensorflow==2.19.0
keras==3.8.0
cycler==0.12.1
ipywidgets==8.1.5
idna==3.7
Deprecated==1.2.13
banal==1.0.6
pydantic==2.10.4
PyMySQL==1.1.1
python-multipart==0.0.20
dill==0.3.8
wheel==0.43.0
comm==0.2.2
holidays==0.66
Flask==3.0.3
pygame==2.6.1
stanio==0.5.1
statsmodels==0.14.4
unsloth_zoo==2025.3.17
imageio==2.37.0
pure_eval==0.2.3
langchain-openai==0.3.5
namex==0.0.8
archspec==0.2.3
fastapi==0.115.8
distro==1.9.0
shtab==1.7.1
jiter==0.8.2
torchaudio==2.5.1
xgboost==2.1.4
jsonpath-python==1.0.6
docker-pycreds==0.4.0
flax==0.10.4
rfc3986-validator==0.1.1
terminado==0.18.1
pydantic-settings==2.7.1
jsonpointer==2.1
requests-toolbelt==1.0.0
orjson==3.10.15
tyro==0.9.18
conda_package_streaming==0.10.0
sympy==1.13.1
proto-plus==1.25.0
argon2-cffi-bindings==21.2.0
ruamel.yaml==0.17.21
aiosignal==1.3.2
PyYAML==6.0.2
httpx==0.28.1
scipy==1.14.1
attrs==24.3.0
matplotlib-inline==0.1.7
beautifulsoup4==4.13.1
sentencepiece==0.2.0
dataset==1.6.2
rpds-py==0.20.0
tensorboard-data-server==0.7.2
pdf2image==1.17.0
google-api-python-client==2.156.0
hpack==4.1.0
elevenlabs==1.51.0
filetype==1.2.0
tzdata==2024.2
albucore==0.0.23
jupyter_server_terminals==0.5.3
nbimporter==0.3.4
tiktoken==0.8.0
types-python-dateutil==2.9.0.20241206
bleach==6.2.0
optuna==4.2.0
SpeechRecognition==3.14.1
ml_dtypes==0.5.1
wandb==0.19.9
diffusers==0.33.1
altair==5.5.0
google-auth==2.37.0
typeguard==4.4.2
mlx-lm==0.24.0
aiohappyeyeballs==2.4.4
sentry-sdk==2.25.1
ipykernel==6.29.5
ffmpy==0.5.0
marshmallow==3.26.1
annotated-types==0.7.0
prophet==1.1.6
httplib2==0.22.0
langchain-core==0.3.37
patsy==0.5.6
scikit-learn==1.5.2
PyPDF2==3.0.1
datasets==3.2.0
debugpy==1.8.11
eval_type_backport==0.2.2
streamlit==1.41.1
scikit-image==0.25.2
etils==1.12.2
hyperframe==6.1.0
boltons==23.0.0
importlib_resources==6.5.2
safehttpx==0.1.6
chex==0.1.89
mlx==0.25.2
unsloth==2025.3.19
cryptography==42.0.5
cv==1.0.0
click==8.1.7
tabulate==0.9.0
notebook_shim==0.2.4
websocket-client==1.8.0
MarkupSafe==3.0.2
